<h1><%="#{@user.name}さんとのチャット" %></h1>
<%= form_with model: @chat, remote: true do |f| %>
    <%= f.text_field :message %>
    <%= f.hidden_field :room_id %>
    <%= f.submit %>
<% end %>
<div class=container mx-auto>
<table class="message text-center">
    <tbody>
       <% @chats.each do |chat| %>
            <tr>
                <td><%= chat.message %></td>
            </tr>
        <% end %>
    </tbody>
</table>
</div>